.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.4) 0%,
            rgba(0, 0, 0, 0.4) 20%),
        url('/public/tawjeeh.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

section {
    padding-top: 30px;
}

footer {
    /* background-image: url('../public/7b879da8-ab40-4a38-8e9a-ab253a21a69f-h.jpeg');  */
    background: linear-gradient(rgba(0, 0, 0, 0.753) 20%, rgba(0, 0, 0, 0.637) 80%), url('../public/twajeeh_footer.jpg');
    background-position: center top;
    background-size: cover;
}


.divider {
    width: 1px;
    height: 180px;
    background-color: rgba(255, 255, 255, 0.404);
}

.profile-image {
    background: linear-gradient(rgba(0, 0, 0, 0.4) 20%,
            rgba(0, 0, 0, 0.4) 20%) !important;
}

.loading {
    z-index: 100;
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: orange;
}